.BoardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board {
  margin: 10px 0;
}

.Board .row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .Board .row {
    width: 300px;
    height: 30px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
