.Square {
  width: 50px;
  height: 50px;
  margin: -2.5px;
  border: 7px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.covered {
  background-color: orange;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.flag {
  width: 50px;
  height: 50px;
}
